version: "3.8"

services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: sopore_i_fix
      POSTGRES_PASSWORD: Ss@2332253
      POSTGRES_DB: sopore_i_fix_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
