@import "./config.css";

/* Base button component */
@layer components {
  /* Must be on every button */
  .btn {
    @apply tracking-widest leading-tight active:scale-95  
    rounded-lg flex items-center justify-center gap-2 border-2 font-bold whitespace-nowrap px-4 py-2
    select-none cursor-pointer;

    &:disabled {
      @apply opacity-80 pointer-events-none;
    }
  }
}

/* Size utilities */
@utility sm {
  @apply h-6;
}
@utility md {
  @apply h-8 px-6;
}
@utility lg {
  @apply h-12 px-8;
}
@utility xl {
  @apply h-14 px-12;
}

/* color utils */
@utility accent {
  @apply bg-accent-light border-accent text-white;

  &:hover,
  &:focus {
    @apply bg-accent border-accent-dark;
  }
}
@utility primary {
  @apply bg-secondary border-secondary-dark text-white;

  &:hover,
  &:focus {
    @apply bg-secondary-dark border-secondary;
  }
}
@utility danger {
  @apply bg-error border-error-dark text-white;

  &:hover,
  &:focus {
    @apply bg-error-dark border-red-800;
  }
}
@utility slate {
  @apply bg-slate-100 border-slate-300;

  &:hover,
  &:focus {
    @apply bg-slate-200 border-slate-400;
  }
}

@utility neutral {
  @apply bg-inherit;
}

/* Variant utilities */
@utility contained {
  @apply primary;

  &.primary {
    @apply primary;
  }
  &.accent {
    @apply accent;
  }
  &.danger {
    @apply danger;
  }
  &.slate {
    @apply slate;
  }
}

@utility outlined {
  @apply bg-transparent shadow-none border-secondary;

  &:hover {
    @apply primary;
  }
}

@utility icon {
  @apply bg-transparent border-none block p-0;
}

@utility badge {
  @apply text-center font-bold text-gray-600 rounded-md;
}

@utility badge-disabled {
  @apply cursor-default opacity-50 pointer-events-none;
}

@utility badge-current {
  @apply !border-b-2 !border-b-accent/50 font-black shadow-inner shadow-accent-dark/60;
}

@utility badge-selected {
  @apply bg-amber-400 shadow-amber-600/40 !border-amber-700 font-black shadow-inner;
}
