@import "./config.css";
@import "./utils.css";

/* Base button component */

@layer components {
  /* Must be on every button */
  .btn {
    @apply tracking-widest leading-tight active:scale-[.99] select-none cursor-pointer disabled:opacity-70 
    disabled:pointer-events-none rounded-lg flex items-center justify-center gap-2 border-2
    font-bold whitespace-nowrap transition-colors capitalize duration-150 ease-in text-center 
    [&.loading]:cursor-wait;

    &:is(.contained):has(svg) > svg {
      @apply size-2.5 text-white;
    }

    &:is(.loading) > .spinner {
      @apply size-3;
    }

    &:is(.outlined):has(svg) > svg {
      @apply size-2.5 text-black;
    }

    /* 
    size variants
    
    and if a btn is a particular size variant i.e has any size class like .sm, 
    using is just for clarity
    */

    &:is(.sm) {
      @apply h-6 px-4 py-2;
    }
    &:is(.md) {
      @apply h-8 px-8;
    }
    &:is(.lg) {
      @apply h-12 px-10 py-4;
    }
    &:is(.xl) {
      @apply h-14 px-12 py-4;
    }

    /* Variant utilities */
    /* with color utils nested inside for full control */
    &:is(.contained) {
      &:hover,
      &:focus {
        @apply ring-2;
      }

      &.primary {
        @apply bg-secondary border-secondary-dark text-white;

        &:hover,
        &:focus {
          @apply bg-secondary-dark border-black ring-black/10;
        }
      }
      &.accent {
        @apply bg-accent-light border-accent text-white;

        &:hover,
        &:focus {
          @apply bg-accent border-accent-dark ring-accent-dark/10;
        }
      }
      &.danger {
        @apply bg-error border-error-dark text-white;

        &:hover,
        &:focus {
          @apply bg-error-dark border-red-800 ring-red-800/10;
        }
      }
      &.slate {
        @apply bg-slate-100 border-slate-300;

        &:hover,
        &:focus {
          @apply bg-slate-200 border-slate-400 ring-slate-800/10;
        }
      }
      &.neutral {
        @apply bg-inherit;
      }

      &.success {
        @apply bg-success border-success-dark text-white;

        &:hover,
        &:focus {
          @apply bg-success-dark border-green-800 ring-green-800/10;
        }
      }
    }

    &:is(.outlined) {
      @apply bg-transparent shadow-none border-secondary;

      &:hover {
        @apply bg-secondary border-secondary-dark text-white;
      }
    }

    &:is(.icon) {
      @apply bg-transparent border-none block p-0 [&>svg]:text-secondary-dark;
      &:hover,
      &:focus {
        @apply [&>svg]:text-black;
      }

      /* an icon has different size utiltities */
      &:is(.sm) > svg {
        @apply size-3;
      }
      &:is(.md) > svg {
        @apply size-4;
      }
      &:is(.lg) > svg {
        @apply size-5;
      }
      &:is(.xl) > svg {
        @apply size-6;
      }
    }
  }
}
