@import "./config.css";

@layer components {
  .navlinks {
    @apply absolute top-full py-4 pb-8 bg-white shadow-md 
    shadow-slate-200/50 w-full left-0 gap-18 hidden;

    @variant show {
      @apply flex flex-col px-8;
    }

    @variant lg {
      @apply flex flex-row items-center static shadow-none p-0 gap-32;
    }
  }

  .navlink {
    @apply font-bold rounded-md tracking-widest text-gray-800 underline-offset-2;

    &.active {
      @apply bg-transparent font-black underline;

      @variant lg {
        @apply py-1;
      }
    }
  }

  .input {
    @apply w-full border-2 border-slate-200 rounded-md outline-none;

    &:focus {
      @apply border-secondary ring-2 ring-secondary-lightest/60;
    }

    &:is(.sm) {
      @apply h-8 p-1 px-2;
    }
    &:is(.md) {
      @apply h-10 p-2 px-4;
    }
  }

  .input-box {
    @apply flex flex-col tracking-widest;

    &:has(.badge, .icon) {
      @apply relative;
    }

    &:has(.badge, .icon) > button {
      @apply italic text-sm w-fit absolute top-1/2 right-2 -translate-y-1/2 shadow-none border-none px-1;
    }
  }

  .card {
    @apply rounded-md p-4 font-semibold shadow-sm 
    shadow-slate-200/40 border-2 bg-white border-slate-300/50 h-full min-h-32;
  }

  .modal {
    @apply bg-white shadow-md shadow-slate-300/40 rounded-md p-4;

    &.bottom {
      @apply fixed bottom-0 left-0 w-full min-h-52 rounded-t-md  border-t-slate-300 ring-4 ring-blue-400/25;
    }

    &.center {
      @apply absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2;
    }
  }

  .doctor-img {
    @apply h-full hover:scale-95 cursor-pointer w-full object-cover 
          mix-blend-multiply transition-transform duration-150;
  }

  .doctor-img-container {
    @apply h-full w-full aspect-square bg-slate-100/30 rounded-md;
  }

  .box {
    @apply bg-white shadow-md shadow-slate-300/60 rounded-lg text-gray-700 flex flex-col
      border-2 border-slate-300/20 p-6 py-8 gap-8;
  }
}

.directory-layout {
  display: grid;
  gap: calc(theme(--spacing) * 6);
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}
