@import "./config.css";
@import "./utils.css";

/* layer components 1 */
@layer components {
  .navbar {
    @apply container flex min-h-14 justify-between items-center;
  }

  .navlinks {
    @apply absolute flex flex-col bg-white shadow-md w-full gap-16 top-full left-0 p-8 pt-4;

    @variant lg {
      @apply w-auto static flex-row bg-transparent p-0 shadow-none;
    }
  }

  .navlink {
    @apply font-bold text-secondary-dark cursor-pointer relative p-2 px-4 rounded-sm;

    &::before {
      content: "|";
      @apply absolute left-0;
    }

    &:has(a > svg) a {
      @apply flex items-center justify-between gap-4;

      & > svg {
        @apply size-4;
      }
    }

    &:hover {
      @apply bg-gray-200/80 transition-all duration-180 ease-in shadow-sm shadow-gray-300/50;
    }

    @variant lg {
      @apply px-2;
    }
  }
}

/* 2 */
@layer components {
  .input {
    @apply border-2 border-slate-200 rounded-md outline-none italic placeholder:italic;

    &:focus {
      @apply border-secondary/40 ring-2 ring-blue-600/20;
    }

    &:is(.xs) {
      @apply h-6 p-0.5 px-1;
    }
    &:is(.sm) {
      @apply h-8 p-1 px-2;
    }
    &:is(.md) {
      @apply h-10 p-2 px-4;
    }
    &:is(.lg) {
      @apply h-12 p-3 px-6;
    }
  }

  .input-box {
    @apply flex flex-col tracking-widest;

    &:has(.badge, .icon) {
      @apply relative;
    }

    &:has(.badge, .icon) > button {
      @apply italic text-sm w-fit absolute top-1/2 right-2 -translate-y-1/2 shadow-none border-none px-1;
    }

    &:has(label) {
      @apply gap-1.5;
    }
  }

  div:is(.filter-div) {
    @apply flex flex-col gap-4 italic;

    & label {
      @apply text-sm text-shadow-xs italic font-bold bg-secondary/80 p-2 py-1 
      text-white;
    }

    &:has(.input-box) .input-box {
      @apply gap-2;
    }
  }

  .card {
    @apply rounded-md p-4 pb-3 font-semibold shadow-sm 
    shadow-slate-200/40 border-2 bg-white border-slate-300/50 h-full min-h-32;
  }

  .modal {
    @apply bg-white shadow-md shadow-slate-300/40 rounded-md;

    &:is(.bottom) {
      @apply fixed bottom-0 left-0 w-full rounded-t-md border-t-slate-300 ring-4 ring-blue-400/40
      max-h-[628px] overflow-y-scroll;

      scrollbar-width: none;
    }

    &:is(.top) {
      @apply fixed top-0 left-0 w-full min-h-52 rounded-b-md border-b-slate-300 ring-4 ring-blue-400/25;
    }

    &:is(.center) {
      @apply absolute left-1/2 top-1/2 p-2 -translate-x-1/2 -translate-y-1/2 border-2 border-primary/10;
    }
  }

  .doctor-img {
    @apply h-full hover:scale-95 cursor-pointer w-full object-cover 
          mix-blend-multiply transition-transform duration-150;
  }

  .doctor-img-container {
    @apply h-full w-full aspect-square bg-slate-100/30 rounded-md;
  }

  .box {
    @apply bg-white shadow-md shadow-slate-300/60 rounded-lg text-gray-700 flex flex-col
      border-2 border-slate-300/20 p-6 py-8 gap-4;
  }

  .badge {
    @apply rounded-md border-2 border-slate-200 text-secondary-dark font-bold transition-all
      capitalize shadow-xs shadow-slate-300/60 flex items-center justify-center cursor-pointer 
      self-start justify-self-start;

    &:is(.xs) {
      @apply p-0.5 text-sm;
    }
    &:is(.sm) {
      @apply p-1;
    }
    &:is(.md) {
      @apply p-2;
    }
    &:is(.lg) {
      @apply p-3;
    }

    &:hover&:not(.current)&:is(.enable-rotate) {
      @apply ring-1 ring-accent/20 rotate-[7.5deg];
    }

    &:disabled,
    &.disabled {
      @apply cursor-default opacity-40 pointer-events-none shadow-none font-semibold;
    }

    &.current {
      @apply border-b-2 border-b-accent/50 font-black shadow-inner shadow-accent-dark/60;
    }

    &.selected {
      @apply bg-amber-400 border-amber-600 font-black shadow-none;

      &:hover {
        @apply bg-amber-400 border-amber-700 shadow-none ring-2 ring-amber-800/10;
      }
    }

    &.dot {
      @apply z-2 text-white bg-primary rounded-full text-xs font-bold shadow-none 
        border-none absolute top-0 right-0 -translate-y-1/2 translate-x-1/2 pointer-events-none;
    }
  }

  .spinner {
    @apply border-4 rounded-full border-black border-b-accent-dark rotate-[360deg] animate-spin 
    duration-[infinity];

    &:is(.xs) {
      @apply size-2;
    }

    &:is(.sm) {
      @apply size-4;
    }

    &:is(.md) {
      @apply size-6;
    }
  }
}

.directory-layout {
  display: grid;
  gap: calc(theme(--spacing) * 6);
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

[data-tooltip] {
  cursor: pointer;
  position: relative;
}

[data-tooltip]::after {
  @apply bg-gray-800 text-white text-xs rounded-md px-2 py-1;
  position: absolute;
  bottom: 100%; /* Position above the element */
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 0.2s ease-in-out;
}

[data-tooltip]:hover::after {
  content: attr(data-tooltip); /* Accesses the attribute's value */
  /* Add styling for the tooltip box (position, background, etc.) */
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
