@import "tailwindcss";
@import "./components.css";

@source "../../node_modules/streamdown/dist/*.js";

@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* backgrounds */

  /* the page itself  */
  --color-background: #131316;

  --color-border: #262629;
  --color-border-strong: #313136;
  --color-border-vivid: #393940;

  --color-text-normal: #eeeef0;

  /* color to layout on the background for main components */
  --color-layout: #212126;
  --color-layout-raised: #29292e;

  --color-inter: #2e2e34;

  /* Text - headings, starters, important clues */
  --color-text: #ffffff;

  /* less important text - subtitles, badges */
  --color-text-secondary: #c9c9c9;

  /* paragraphs, long text, textarea text, bio */
  --color-text-teritiary: #747686;

  --color-indicator: #5de3ff;
  --color-indicator-drk: #49d5f2;
  --color-indicator-hover: #73e3fa;

  /* brand - actions */
  --color-brand: #6c47ff;
  --color-brand-hover: #6c50ff;
  --color-brand-drk: #5d36f7;

  --color-drk: #000000;

  --text-xs: 0.6rem;
  --text-sm: 0.7rem;
  --text-base: 0.8rem;
  --text-md: 1rem;
  --text-lg: 1.2rem;
  --text-xl: 1.4rem;

  --color-window: hsl(220 30% 98%);

  --font-display: "PT Sans";

  --animate-spin: spin 1s linear infinite;
  --animate-blob: blob 4s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}

/* Default DOM tag styles */
@layer base {
  *,
  *::after,
  *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    letter-spacing: 1.2px;
    font-family: var(--font-display);
    font-size: var(--text-base);

    &:is(.dark) {
      background: var(--color-background);
      color: var(--color-text-secondary);
    }

    &:is(.dark) :is(h1, h2, h3, h4, h5, h6) {
      color: var(--color-text);
    }

    &:is(.dark) a {
      &:hover {
        color: var(--color-text);
      }
    }
  }
  #root {
    all: inherit;
  }

  button > a {
    all: unset;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: bold;
    line-height: 1.2;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    margin: 0;
    -webkit-appearance: none;
  }

  input[type="number"] {
    appearance: textfield;
  }

  body:has(#modal) {
    overflow: hidden;
  }

  [data-tooltip] {
    cursor: pointer;
    position: relative;
  }

  [data-tooltip]::after {
    opacity: 0;
    color: white;
    padding: 4px;
    position: absolute;
    bottom: 100%; /* Position above the element */
    visibility: hidden;
    pointer-events: none;
    background: var(--color-layout-raised);
    font-size: var(--text-xs);
    border-radius: var(--radius-md);
    transition: opacity 0.2s ease-in-out;
    width: max-content;
  }

  [data-tooltip]:hover::after {
    content: attr(data-tooltip); /* Accesses the attribute's value */
    /* Add styling for the tooltip box (position, background, etc.) */
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
}

@utility container {
  width: 100%;
  margin-inline: auto;
  max-width: var(--breakpoint-xl);
}

@keyframes blob {
  0% {
    transform: translate(0px, 0px) scale(1);
  }
  33% {
    transform: translate(30px, -50px) scale(1.1);
  }
  66% {
    transform: translate(-20px, 20px) scale(0.9);
  }
  100% {
    transform: translate(0px, 0px) scale(1);
  }
}

.streaming-cursor > *:last-child::after {
  content: " |";
  display: "inline-block";
  margin-left: 2px;
  animation: blink 1s infinite step-end;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.editor {
  position: relative;
}

.editor.is-empty::before {
  content: "Ask anything ...";
  font-style: italic;
  color: var(--color-text-secondary);
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
}
