@theme {
  /* Primary: Black-Gray */
  --color-primary: #202020;
  --color-primary-dark: #141414;
  --color-primary-light: #343434;

  /* Secondary - Gray */
  --color-secondary: var(--color-gray-600);
  --color-secondary-dark: var(--color-gray-700);
  --color-secondary-light: var(--color-gray-500);

  /* Accent - sky */
  --color-accent: var(--color-sky-500);
  --color-accent-dark: var(--color-sky-600);
  --color-accent-light: var(--color-sky-400);

  /* Alerts */
  --color-error: var(--color-red-600);
  --color-error-dark: var(--color-red-700);
  --color-error-light: var(--color-red-500);

  --color-success: var(--color-green-600);
  --color-success-dark: var(--color-green-700);
  --color-success-light: var(--color-green-500);

  --color-warning: var(--color-yellow-600);
  --color-warning-dark: var(--color-yellow-700);
  --color-warning-light: var(--color-yellow-500);

  /* Defaults */
  --default-transition-duration: 240ms;

  /* Font-size */
  --text-xs: 0.5rem;
  --text-sm: 0.65rem;
  --text-base: 0.75rem;
  --text-lg: 0.9rem;
  --text-xl: 1.075rem;
  --text-2xl: 1.2rem;

  /* Animations */
  --animate-spin: spin 1s linear infinite;

  @keyframes spin {
    to {
      transform: rotate(1turn);
    }
  }
}
