@theme {
  /* Primary: Black-Gray */
  --color-foreground: #ffffff;
  --color-primary: #202020;
  --color-primary-dark: #141414;
  --color-primary-light: #343434;

  /* Secondary - Gray */
  --color-secondary: var(--color-gray-600);
  --color-secondary-dark: var(--color-gray-700);
  --color-secondary-light: var(--color-gray-500);

  /* Accent - sky */
  --color-accent: var(--color-blue-500);
  --color-accent-dark: var(--color-blue-600);
  --color-accent-light: var(--color-blue-400);

  --animate-spin: spin 600ms linear infinite;
  --breakpoint-7xl: 80rem;

  --text-xs: 0.6rem;
  --text-sm: 0.7rem;
  --text-base: 0.8rem;
  --text-md: 1rem;
  --text-lg: 1.2rem;
  --text-xl: 1.4rem;

  @keyframes spin {
    to {
      transform: rotate(1turn);
    }
  }
}
