@utility container {
  /* Utility classes with directive @"utility" are auto. added to layer utilities */
  width: 100%;
  margin-inline: auto;
  max-width: var(--breakpoint-7xl);
}

@utility scrollbar-hidden {
  &::-webkit-scrollbar {
    display: none;
  }
}

@layer components {
  .badge {
    @apply rounded-md border-2 border-slate-200 text-secondary-dark font-bold transition-all
    capitalize shadow-xs shadow-slate-300/60 flex items-center justify-center cursor-pointer 
    self-start justify-self-start text-sm;

    @variant disabled {
      @apply cursor-default opacity-40 pointer-events-none shadow-none font-semibold;
    }

    &.current {
      @apply border-b-2 border-b-accent/50 font-black shadow-inner shadow-accent-dark/60;
    }

    &.selected {
      @apply bg-amber-400 border-amber-600 font-black shadow-none;

      @variant hover {
        @apply bg-amber-400 border-amber-700 shadow-none ring-2 ring-amber-800/10;
      }
    }
  }

  .overlay {
    position: fixed;
    inset: 0;
    z-index: 999;
    transition: none;
    background: rgba(0, 0, 0, 0.25);
  }

  .filter-div {
    @apply flex flex-col gap-4;

    & > label {
      @apply bg-secondary/80 text-shadow-xs p-2 py-1 text-foreground italic font-bold capitalize;
    }
  }
}

/* Example */

/* @utility flex-box-* {
  This works fine.

  display: flex;
  gap: calc(var(--spacing) * --value(integer));
} */
